/* 
--- 01 TYPOGRAPHY SYSTEM

- font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- line heights
default: 1
small: 1.05
heigh: 1.6
very-heigh: 1.8 

- letter spacing
 small: -2.5px
 medium:0.75px

--02 COLORS

-primary:#e67e22
-Tints: #fdf2e9
-Shades:#cf711f
-Accents:
-Grays
#525252
#555
#333
---05 SHADOWS

---06 BORDER-RADIOS
default: 9px

---07 WHITESPACE

- spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* Percentage of user's browser font-size setting
  10px / 16px * 100 => 62.5% === 10px
  */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #222;
}

/**************************************/
/* START GENERAL REUSEABLE COMPONENT */
/**************************************/
.container {
  max-width: 138rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
}
/*  */
.header {
  margin-top: 3.2em;
}

.header_logo {
  height: 2.4rem;
  margin-right: 3.2rem;
}

.nav__link {
  color: #222;
  font-weight: 100;
  text-decoration: none;
}

.nav__link:hover {
  text-decoration: underline;
}

.getstarted {
  padding: 1rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  background-color: #000;
  color: #fff;
  border-radius: 50px;
  transition: box-shadow 0.3s ease;
}

.getstarted:hover {
  box-shadow: 0px 0px 10px rgba(31, 248, 255, 0.84);
}

.learn {
  justify-content: space-around;
  gap: 0.5rem;
  align-items: center;
}

.spacebetween {
  justify-content: space-between;
}

.feed {
  flex-direction: column;
}
/* SECTION HERO */
.section__hero {
  height: 80vh;
  margin-top: 14rem;
  gap: 28rem;
}
.section__hero_content-left,
.section__hero_content-right {
  width: 50%;
}

.section__hero_content-right {
  align-self: flex-start;
}

.section__hero_video {
  scale: 1.2;
}

.section__hero_heading-primary {
  letter-spacing: -0.5px;
  font-size: 6.2rem;
  line-height: 1.1;
  margin-bottom: 2.4rem;
  padding-right: 2rem;
}

.section__hero_content {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.section__hero_actions {
  gap: 1.6rem;
}

.section__hero_btn {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 1.8rem;
  border-radius: 50px;
}

.color-text {
  background: linear-gradient(
    315.67deg,
    #15bebb -3.01%,
    #702df4 48.66%,
    #de05dc 102.53%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.btn-cta {
  font-weight: 600;

  background: linear-gradient(
    315.67deg,
    #15bebb -3.01%,
    #702df4 48.66%,
    #de05dc 102.53%
  );
  color: #fff;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}

.btn-regular {
  background-color: #fff;
  border: 1px solid #bbb;
  font-weight: 600;
  transition: box-shadow 0.4s ease;
  cursor: pointer;
}

.btn-regular:hover {
  box-shadow: 0px 0px 10px rgba(31, 248, 255, 0.84);
}

.btn-cta:link,
.btn-cta:visited {
}

.btn-cta:link,
.btn-cta:visited {
  background-color: #fff;
  color: #444;
}

.btn-cta:active,
.btn-cta:hover {
  box-shadow: 0px 0px 10px rgba(31, 248, 255, 0.84);
}

.section__hero_video {
  clip-path: inset(7.3rem 2.1rem 8.3rem 2.2rem);
  border-radius: 34%;
  object-fit: contain;
}

/* SECTION FEATURE */

.section__feature {
  /* margin-top: 14rem; */
}

.section__feature_details-box {
  gap: 2.4rem;
}

.section__feature_item {
  padding: 3.2rem;
  border-radius: 20px;
  width: 50%;
  transition: scale 0.9s ease;
}

.section__feature_item:hover {
  scale: 1.03;
}

.platform {
  background: #f2f3f6;
}

.platform__heading-secondary {
  background: linear-gradient(
    315.67deg,
    #15bebb -3.01%,
    #702df4 48.66%,
    #de05dc 102.53%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marketplace__heading-secondary {
  background: linear-gradient(89.97deg, #f85b5d 1.63%, #d0f63b 100.09%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platform p,
.marketplace p {
  font-size: 1.6rem;
}

.section__feature_item-access .platform_a {
  font-size: 1.6rem;
  color: #000;
}

.marketplace {
  background-color: #222;
  color: #fff;
}

.section__feature_item {
  gap: 2rem;
}

.section__feature_item-container {
  flex: 5;
}

.section__feature_content {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.section__feature_item-access {
  margin-top: 3rem;
  gap: 1rem;
}

.section__feature_item-access a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

.section__feature_item-icon {
  font-size: 2rem;
}

.section__feature_image {
  flex: 1;
}

.section__feature_image img {
  width: 12rem;
}

/* Boundless Creativity */

.section__feature_boundless-box {
  height: 100%;
  margin-top: 6.4rem;
  gap: 2.4rem;
}

.section__feature_boundless-guide-item {
  padding: 2.4rem 2rem;
  background: #f4f5f6a1;
  border-radius: 15px;
  cursor: pointer;
}

.section__feature_boundless-img-box,
.section__feature_boundless-feature {
  width: 50%;
}

.section__feature_boundless-img-box img {
  width: 100%;
  height: 100%;
}

.section__feature_boundless-description {
  margin-bottom: 7rem;
}

.section__feature_boundless-description-heading {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1.2;
  padding-left: 2.4rem;
  margin-bottom: 3.2rem;
}

.section__feature_boundless-guide-box {
  flex-direction: column;
  gap: 1.6rem;
}

.section__feature_boundless-guide-box h4 {
  font-size: 2rem;
  font-weight: 500;
}

.section__feature_boundless-guide-body p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  padding-left: 1rem;
}

.section__feature_boundless-guide-body {
  display: none;
}

.active {
  display: block;
  transition: display 0.4s ease;
}

/* SOLUTIONS SECTION */

.subheading {
  border-radius: 50px;
  display: flex;
  flex-shrink: 0;
  height: 42px;
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(
    315.67deg,
    #15bebb -3.01%,
    #702df4 48.66%,
    #de05dc 102.53%
  );
  align-items: center;
  padding: 2px;
}

.subheading div {
  display: inline-flex;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  min-width: 87px;
  align-items: center;
  justify-content: center;
}

.subheading span {
  font-weight: 700;
  background: linear-gradient(
    315.67deg,
    #15bebb -3.01%,
    #702df4 48.66%,
    #de05dc 102.53%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*  */
.grid {
  display: grid;
  column-gap: 6.4rem;
  margin-bottom: 9.6rem;
  /* margin-bottom: 9.6rem; */
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center-v {
  align-items: center;
}

.grid:last-child {
  margin-bottom: 0;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -2.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.heading-tertiary {
  font-size: 3.2rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

/* .subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
} */

.list {
  list-style: none;
  align-items: flex-start;
  justify-content: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  /* font-weight: 500; */
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 2.4rem;
  border-radius: 0.8rem;

  /* only necessary for .btn */
  border: none;
  cursor: pointer;
}

.btn.btn-form {
  background-color: #2e1907;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn.btn-form:hover {
  background-color: #fff;
  color: #555;
}
/* HELPER/SETTINGS CLASSES */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}

/**************************************/
/* END OF GENERAL COMPONENT */
/**************************************/
